.vscode/**
typings/**
test/**
images/animations/**
coverage/**
.codeclimate.yml
.gitignore
.editorconfig
.eslintrc.yaml
.eslintignore
.idea
.nvmrc
.nycrc
.nyc_output
.travis.yml
jsconfig.json
vsc-extension-quickstart.md
__*
