.vscode/**/*
.vscode-test/**/*
typings/**/*
images/animations/**/*
coverage/**/*
.codeclimate.yml
.gitignore
.editorconfig
.idea/**/*
.nvmrc
.nycrc
.nyc_output/**/*
.travis.yml
jsconfig.json
tag-release.sh
yarn.lock
*.log
__*
__*/**/*
.DS_Store
*.vsix
tslint.json
mocha-opts/**
out/test/**
out/**/*.map
src/**/*
tsconfig.json
yarn-error.log
CONTRIBUTING.md
